.copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 96px;
  margin-bottom: 40px;
  margin-left: 96px;
}

.copyright__text {
  @include font(14px, 18px, 400, #283645);
  padding-top: 10px;
}

.copyright__link {
  width: 40px;

  & path {
    fill: #d22856;
  }

  &:hover path,
  &:focus path {
    fill: #283645;
  }

  &:active {
    fill: #283645;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .copyright__text {
    @include font(18px, 18px, 400, #283645);
  }
}
