.features {
  background-color: #ffffff;
}

.features__description {
  margin-top: 40px;
}

.features__text {
  padding-bottom: 8px;

  @include font(24px, 28px, 300, #283645);
  text-align: center;
}

.features__list {
  background: url("../img/bg-triangle-white.svg") no-repeat top left;
  background-color: #f2f2f2;

  @include list-reset;
}

.item-feature {
  padding-top: 10px;
  padding-right: 30px;
  padding-left: 30px;
}

.item-feature__title {
  @include font(18px, 24px, 700, #000000);
  text-align: center;
}

.item-feature__description {
  @include font(14px, 24px, 400, #283645);
  text-align: center;
}

.item-feature--smile {
  min-height: 465px;
  background: url("../img/iphone-screen-mobile@1x.png") no-repeat center 200px;
}
