body {
    @include reset;
    min-width: 320px;

    font-family: "Open Sans", Arial, sans-serif;
  }

  a {
    text-decoration: none;
    cursor: pointer;
  }

  .img {
    max-width: 100%;
    height: auto;
  }

  .visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  /**.container {
    width: 280px;
    padding: 0 20px;
  }

  @media (min-width: $tablet-width) {
    .container {
      width: 620px;
      padding: 0 20px;
    }
  }

  @media (min-width: $desktop-width) {
    .container {
      width: 940px;
      padding: 0 130px;
    }
  }**/
