.introduction {
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat 0 -100px;
  background-size: cover;
  position: relative;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 243px;
    background: url("../img/iphone-hand-mobile@1x.png") no-repeat;
    width: 320px;
    height: 314px;
    z-index: -1;
  }
}

.introduction__slogan {
  @include font(24px, 28px, 300, #ffffff);
  text-align: center;
  padding: 20px;
  padding-top: 90px;
  margin-bottom: 296px;
}

@media (min-width: $tablet-width) {
  .introduction {
    background: url("../img/bg-back-tablet@1x.jpg") no-repeat 0 0;
    background-size: cover;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-53%);
      bottom: 0;
      background: url("../img/iphone-hand-tablet@1x.png") no-repeat;
      width: 660px;
      height: 545px;
    }
  }

  .introduction__wrapper {
    width: 300px;
    padding: 20px;
    padding-top: 25px;
    padding-bottom: 110px;
  }

  .introduction__slogan {
    @include font(40px, 48px, 300, #ffffff);
    text-align: center;
    padding-top: 90px;
    padding-right: 30px;
    padding-bottom: 0;
    padding-left: 30px;
    margin-bottom: 5px;
  }
}

@media (min-width: $desktop-width) {
  .introduction {
    background: url("../img/bg-back-desktop@1x.jpg") no-repeat 0 0;
    background-size: cover;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-43%);
      bottom: 0;
      background: url("../img/iphone-hand-desktop@1x.png") no-repeat;
      width: 1050px;
      height: 645px;
    }
  }

  .introduction__wrapper {
    margin-left: 130px;
    padding: 0;
    padding-top: 80px;
    padding-bottom: 120px;
  }

  .introduction__slogan {
    @include font(50px, 60px, 300, #ffffff);
    margin-bottom: 25px;
  }
}
