.introduction {
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat 0 -100px;
  background-size: cover;
}

.introduction__slogan {
  @include font(24px, 28px, 300, #ffffff);
  text-align: center;
  padding: 20px;
  padding-top: 90px;
  margin-bottom: 296px;
}
