.introduction {
  background: url("../img/iphone-hand-mobile@1x.png") no-repeat 0 40%,
              url("../img/bg-back-mobile@1x.jpg") no-repeat;
}

.introduction__slogan {
  @include font(24px, 24px, 300, #ffffff);
  text-align: center;
  padding: 20px;
  padding-top: 100px;
  margin-bottom: 290px;
}
