.page-header {
  box-sizing: content-box;
  @include container;
  box-shadow: 0 1px 0 0 #000000;
  background-color: #283645;
  position: relative;
  z-index: 1;
}

.page-header__logo-image {
  padding: 20px;
}
