.page-header {
  box-sizing: content-box;
  @include container;
  box-shadow: 0 1px 0 0 #000000;
  background-color: #283645;
  z-index: 1;
}

.page-header__logo {
  display: inline-block;
  padding: 20px;

  &:hover path,
  &:focus path {
    fill: #d22856;
  }

  &:active path {
    fill: #ffffff;
    opacity: 0.3;
  }
}

/**.page-header--menu-closed {
  background-color: rgba(29, 38, 49, 0.3);

  .site-list {
    display: none;
  }

  .main-nav__toggle {
    width: 50px;
    height: 24px;

    background: url("../img/icon-menu-burger.svg") no-repeat;
  }
}**/
