.photos__list {
  @include list-reset;
}

.photos__item--current {
  position: relative;
}

.photos__of-the-day {
  position: absolute;
  top: 0;
  right: 20px;
  padding-top: 6px;
  padding-right: 20px;
  padding-bottom: 6px;
  padding-left: 20px;
  background-color: #d22856;
  @include font(12px, 24px, 700, #ffffff);
  text-transform: uppercase;
}

.photos__image {
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
}

.photos__image--current {
  margin-right: 0;
  margin-left: 0;
}

.photos__info {
  background-color: #f2f2f2;
  padding-top: 12px;
  padding-right: 10px;
  padding-bottom: 16px;
  padding-left: 17px;
  margin-right: 20px;
  margin-left: 20px;
}

.photos__author {
  @include font(14px, 24px, 700, #283645);
  text-align: left;
  margin: 0;
  margin-top: 15px;
}

.photos__upload-time {
  @include font(14px, 24px, 300, #283645);
  text-align: left;
}

.photos__description {
  @include font(14px, 24px, 400, #283645);
  text-align: left;
  margin: 0;
  padding-bottom: 10px;
}

.photos__likes {
  position: relative;
  @include font(12px, 24px, 400, #d22856);
  text-align: left;
  text-transform: uppercase;
  padding-left: 32px;

  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 13px;
    height: 12px;
    background: url("../img/icon-heart.svg") no-repeat;
  }
}
