.radio-fields {
  padding-top: 122px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f2f2f2;
}

.radio-fields__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.radio-fields__label {
  position: relative;
  padding-left: 70px;
  padding-bottom: 52px;
  @include font(18px, 30px, 400, #283645);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 37px;
    height: 36px;
    border: 2px solid #e5e5e5;
    border-radius: 50%;
    background-color: #ffffff;
  }

  &:hover::before,
  &:focus::before {
    border-color: #283645;
  }

  &:active::before {
    border-color: #d22856;
  }
}

.radio-fields__input:checked + .radio-fields__label::after {
  content: "";
  position: absolute;
  top: 13px;
  left: 13px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #d22856;
}
