.rates {
  background-color: #f2f2f2;
  background: url("../img/bg-triangle-white.svg") no-repeat top left;
  overflow: hidden;
}

.rates__list {
  @include list-reset;
  display: flex;
  flex-direction: row;
  margin-top: 117px;
  margin-bottom: 30px;
}

.rates__item--active {
  width: 280px;
}

.rates__header {
  background-color: #283645;
  position: relative;
  text-align: center;
  border-right: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
}

.rates__title {
  @include font(18px, 30px, 700, #ffffff);
  text-transform: uppercase;
  margin: 0;
  margin-top: 18px;
  padding-top: 15px;
}

.rates__price {
  @include font(24px, 30px, 300, #ffffff);
  text-transform: uppercase;
  display: block;
  padding-bottom: 23px;
}

.rates__best {
  background: url(../img/bg-hit.svg) no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 74px;
  height: 73px;
}

.rates__best-text {
  display: block;
  transform: rotate(-45deg);
  @include font(10px, 21px, 400, #ffffff);
  text-transform: uppercase;
}

.rates__options-list {
  @include list-reset;
}

.rates__options-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-right: 2px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
  border-left: 2px solid #e5e5e5;
}

.rates__options-name {
  @include font(14px, 30px, 400, #283645);
  text-align: left;
  text-transform: uppercase;
  padding-top: 1px;
  padding-left: 22px;
}

.rates__options-value {
  padding-right: 15px;
}

.rates__options-value--on {
  background: url("../img/icon-yes.svg") no-repeat;
  width: 31px;
  height: 21px;
}

.rates__options-value--off {
  background: url("../img/icon-no.svg") no-repeat;
  width: 27px;
  height: 26px;
}
