.reviews {
  background-color: #ffffff;
}

.reviews__item {
  text-align: center;
  @include reset;
  margin: 20px;
  margin-top: 42px;
  display: none;
}

.reviews__author {
  @include font(18px, 30px, 700, #000000);
  font-style: normal;
}

.reviews__text {
  @include font(14px, 30px, 400, #283645);
}

.reviews__item--active {
  display: block;
}
