.site-list {
  @include list-reset;

  /**display: none;**/
}

.site-list__item {
  box-shadow: 0px 1px 0 0 #000000, inset 0 1px 0 0 rgba(255, 255, 255, 0.15);
  padding: 16px;
  text-align: center;
  background-color: #283645;
}

.site-list__link {
  @include font(18px, 32px, 700, #ffffff);
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: #d22856;
  }

  &:active {
    color: #d22856;
    opacity: 0.3;
  }
}

/**.site-list__link--active {
  border-bottom: 2px solid #ffffff;
}**/
