.social__list {
  @include list-reset;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 70px;
  margin-bottom: 45px;
  margin-left: 70px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 50%;

  & path {
    fill: #d22856;
  }

  &:hover,
  &:focus {
    border-color: #283645;
  }
  &:active {
    border-color: rgba(40, 54, 69, 0.1);
  }

  &:active path {
    opacity: 0.3;
  }
}
