.text-fields {
  padding-top: 23px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.text-fields__label {
  @include font(14px, 30px, 400, #d22856);
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 5px;
  margin-left: 22px;
}

.text-fields__input {
  display: block;
  @include font(18px, 30px, 400, #283645);
  text-align: left;
  border: 2px solid #e5e5e5;
  padding-top: 14px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-left: 20px;
  margin-bottom: 17px;
  width: 280px;
  box-sizing: border-box;

  &::placeholder {
    color: #283645;
  }

  &:hover,
  &:focus {
    border-color: #283645;
  }

  &:active {
    border-color: #d22856;
  }
}
